// Here you can add other styles
body {
  background-image: linear-gradient(to bottom, transparent 98%, $secondary 2%),
    linear-gradient(to right, $dark 98%, $secondary 2%);
  background-size:
    2rem 2rem,
    2rem 2rem;
}

.content-h-full {
  height: calc(100vh - (4rem));
}
.content-min-h-full {
  min-height: calc(100vh - (4rem));
}
.content-max-h-full {
  max-height: calc(100vh - (4rem));
}

.btn-nav {
  border-color: #474747;
  color: #ffffff;
  &:hover,
  &:active,
  &:focus,
  .active {
    background-image: linear-gradient(0deg, #1a1a1a, #373737);
    border-color: #474747;
    color: #ffffff;
    font-weight: 700;
  }
}

#about-me {
  min-height: calc(100vh - (4rem));
  .text-nickname {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.875rem;
    letter-spacing: -0.02em;
  }

  .text-name {
    font-size: 3rem;
    font-weight: 800;
    line-height: 1;
    letter-spacing: -0.02em;

    @include media-breakpoint-up(lg) {
      font-size: 4rem;
    }

    @include media-breakpoint-up(xl) {
      font-size: 5rem;
    }

    @include media-breakpoint-up(xxl) {
      font-size: 5.625rem;
    }
  }
}

#thumbnail-design {
  height: calc(100vh - (4rem));
}

.footer {
  background-image: linear-gradient(0deg, #1a1a1a, #373737);
  border-top: 0 !important;
}
